<h1><%= @question.test.title %></h1>
<p>
  <%= @question.body %>
</p>

<h2>Answers</h2>

<%= link_to 'New answer', new_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to 'Back', test_questions_path(@question.test) %>
<%= link_to 'Edit', edit_question_path(@question) %>


