<%= form_with url: sessions_path, local: true do |form| %>
  <% if flash[:alert] %>
    <%= content_tag :p, flash[:alert], class: 'flash alert'  %>
  <% end %>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email, id: :email %>
  </p>

  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password, id: :user_password %>
  <p>

  <p><%= form.submit %></p>

<% end %>
