<div class="container">

   <span class="text-center">
     <h1>Passing the <%= @test_passage.test.title %> Test</h1>
   </span>

  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
  </div><br>

  <div class="col">
    <h2>Current question: <%= @test_passage.test.questions.index(@test_passage.current_question) %></h2>

    <p>All questions: <%= @test_passage.test.questions.size %></p>
  </div>

   <p>
      <b><%= @test_passage.current_question.body %></b>
   </p>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>

    <div class="form-check">
       <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers,
                                  :id, :body, include_hidden: false do |b| %>
         <p>
           <%= b.check_box id: "answer_ids_#{b.object.id}", class: 'form-check-input' %>
           <%= b.label class: 'form-check-label'%>
         </p>
       <% end %>
    </div>

    <p><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %></p>
    <p><%= form.submit 'Next', class: 'btn btn-primary' %></p>

<% end %>

<%= link_to 'Back', tests_path, class: 'btn btn-dark' %>


</div>
