<%= form_with model: [:admin, @test], local: true do |form| %>
<%= render 'shared/errors', resource: @test %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title, id: :test_title %>
  </p><br>
  <p>
    <%= form.label :level %>
    <%= form.number_field :level, id: :test_level %>
  </p><br>
  <p>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p><br>
  <p>
    <%= form.label :author_id %>
    <%= form.collection_select :author_id, User.all, :id, :last_name, prompt: true %>
  </p><br>


  <p><%= form.submit %></p>

<% end %>
