<tr>
  <td class="align-middle">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id} %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="align-middle"><%= test_level(test) %></td>
  <td class="align-middle"><%= test.questions.size %></td>
  <td class="align-middle"><%= link_to t('admin.tests.test.show'), admin_test_path(test) %></td>
  <td class="align-middle">
    <%= link_to t('admin.tests.test.edit'),
                edit_admin_test_path(test),
                data: { test_id: test.id },
                class: 'form-inline-link' %>
  </td>
  <td class="align-middle"><%= link_to t('admin.tests.test.delete'),
                  admin_test_path(test),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
