<tr>
  <td><%= test.title %></td>
  <td><%= test_level(test) %></td>
  <td><%= test.questions.size %></td>
  <td><%= link_to t('admin.tests.test.show'), admin_test_path(test) %></td>
  <td><%= link_to t('admin.tests.test.edit'), edit_admin_test_path(test) %></td>
  <td><%= link_to t('admin.tests.test.delete'),
                  admin_test_path(test),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
