<h1><%= t('.header') %></h1>

<%= link_to t('.new_test'), new_admin_test_path %>

<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.questions') %></th>
    <th colspan="4"><%= t('.actions') %></th>
  </tr>

<%= render @tests %>

</table>

