<p>
  <strong><%= t('.title') %>:</strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %>:</strong>
  <%= @test.level %>
</p>

<h2><%= t('.qustions') %></h2>

<%= link_to 'New question', new_admin_test_question_path(@test) %>

<ol>
  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</ol>

<%= link_to 'Back', admin_tests_path %>
