<h1><%= t('.header') %></h1>

<table>
  <tr>
    <th><%= t('admin.tests.index.title') %></th>
    <th><%= t('admin.tests.index.level') %></th>
    <th><%= t('admin.tests.index.questions') %></th>
    <th><%= t('admin.tests.index.actions') %></th>
  </tr>

<%= render @tests %>

</table>

