<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
    <p class="nav user">
      Welcome, <b><%= current_user.email %></b> Guru |
      <%= link_to 'logout', destroy_user_session_path, method: :delete %>
    </p>
  <% end %>

  <%= render 'shared/navigation' %>

  <%= render 'shared/flash' %>

    <%= yield %>

   <%= render 'shared/footer' %>
  </body>
</html>
